<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Instrapic</title>
    <link rel="stylesheet" type="text/css" href="../static/bulma/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/app.css">

    <script src="../static/js/judge.js"></script>
</head>

<body>

    <div class="navbar has-shadow is-size-12">
        <div class="container">
            <div class="navbar-menu">
                <div class="navbar-start">
                     <a href="/" class="navbar-item">Home</a>
                    <a href="/me" class="navbar-item">My Information</a>
                    <a href="/showimg" class="navbar-item">Square</a>
                </div>
                <div class="navbar-end">
                     <a href="/me" class="navbar-item">
                        {{request.user.username}}
                    </a>
                    <!-- <a href="#" class="navbar-item">
                        <img src="https://bulma.io/images/placeholders/128x128.png" alt="">
                    </a> -->

                </div>
            </div>
        </div>
    </div>
    <header>
 <section class="hero index_header_background">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-horizontal-center">Password Modification</h1>
            </div>
        </div>
    </section>
    </header>
    <div class="columns is-centered">
    <div class="column is-one-fifth">    </div>
        <div class="column is-2">
            <aside class="menu">
                <p class="menu-label">Profile</p>
                <ul class="menu-list">
                    <li><a href="/me">· Personal Info</a></li>
                </ul>
                <p class="menu-label">Modification</p>
                <ul class="menu-list">
                    <li><a href="/changePassword">· Password Modification</a></li>
                    <li><a href="/changeemail">· E-mail Modification</a></li>
                    <li><a href="/uploadimg">· Upload Image</a></li>
                     <li><a href="/myimg">· My Images</a></li>
                </ul>
                <p class="menu-label">
                    Log out
                </p>
                <ul class="menu-list">
                    <li><a href="/logout">· Log out</a></li>

                </ul>
            </aside>
        </div>
        <div class="column">
            <div class="container" id="login-register">
                <div class="column is-5 is-offset-3">
                    <form id="form_password" action="#" method="POST" onsubmit="return mychange()">
                        {% csrf_token %}
                        <div class="box is-4">
                            <header class="title is-horizontal-center">
                                <p class="title">Password Modification</p>
                            </header>
                            <p id="errormsg"></p>
                            {% if errormsg %}
                            <div class="box" id="form_error">{{ errormsg }}</div>
                            {% endif %}
                            <p class="origin_pw">Original Password </p>
                            <input class="input  is-parent" type="Password" placeholder="old password"
                                   name="password_old">
                            <br><br>
                            <p class="modified_pw">Modified Password </p>
                            <input class="input  is-parent" type="Password" placeholder="new password" name="password1"
                                   id="id_password1">
                            <br><br>
                            <p class="modified_add_repeat">Modified Password Again</p>
                            <input class="input  is-parent" type="Password" placeholder="Password confirm"
                                   name="password2" id="id_password2">
                            <br><br>
                            <input type="submit" class="button is-info width_100" value="Modify">
                            <div class="column is-horizontal-center">
                                <a href="/changeemail">address modification</a>
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>
</body>

</html>